h1{
    font-size: 20px;
    text-align: center;
}
.productDiv{
    display: flex;
    flex-direction: column;
    border: solid gray 1px;
    width: 300px;
    height: 500px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}